# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Chroma local database (if you persist vectorstore later)
chroma/

# MCP config (if it contains sensitive info)


# VSCode settings
.vscode/
